.container {
	padding: 5em 2em 2em 2em;
	color: rgb(61, 58, 67);
}

.title {
	padding: 0 0 1em 1em;
	font-weight: 600;
}

.by {
	padding-left: 3em;
	font-weight: 200;
	font-size: small;
}

.link {
	padding: 0.5em
}
.link:hover {
	color: crimson
}

.commands {
	padding: 0.5em;
	font-size: small;
}

.body {
	font-weight: 300;
	font-size: small;
}

@media screen and (min-width: 768px) {
	.body {
		font-size: medium;
	}

	.container {
		padding: 5em;
	}
}